@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
  font-family: Poppins;
  box-sizing: border-box;
}
.card-title{
  margin-left: 4px;
  padding-left:0px; 
  margin-top: 4px;
  margin-bottom: -8px;
}

.card-text{
  height: 120px;
  overflow-y: scroll;
  margin: -4px 0;
}
.card{
  width: 380px;
  border: 1px solid black;
  padding: 4px;
  margin: 4px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px grey;
}
.articles{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px grey;
  margin-top: 20px;
  width: 86%;
  padding: 0%;
}
h1, h2{
  text-align: center;
}
hr{
  border-width: 4px;
}
.col-md-4{
  margin-top: 6px;
}
.sources{
  width: 96%;
  margin-left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.category{
  text-align: right;
}
.hide{
  display: none;
}
.slider{
  height: 300px;
  background-image: url('../static/images/trainLate.jpeg');
  background-size: 80%;
  background-position-y: 85%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.nav-item{
  color: white;
}
img{
  width: 100%;
  
}
#articlesShow{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articles>.col-md-4{
  padding: 0;
}
.articles>.col-md-8{
  padding: auto;
  padding-top: 5px;
}
cite{
  text-align: center;
}
.content{
  padding: 4px;
  border-radius: 5px;
}