{%extends 'bootstrap/base.html'%}
{%extends 'base.html'%}
{%block head%}
{{super()}}

<link rel="stylesheet" href="../static/styles.css">
{%endblock%}
{%block navbar%}
{{super()}}

{%endblock%}
{%block content%}
<h1>{{title}}</h1>

<div class="row">
  {%for source in sourceList%}
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{source.name}}</h3>
        <hr>
        <p class="card-text">{{source.description}}</p>
        <hr>
        <form action="http://127.0.0.1:5000/source" method="POST">
          <input class='hide' type='text' name='id' value="{{source.id}}">
          <a href="/source"></a><button type='submit' class="btn btn-warning" >Read Stories</button></a><span class="category"> | Category:
            {{source.category}}</span>

          <div class="card-footer">
        </form>
        <small class="card-title">country :{{source.country}} | language: {{source.language}}</small><br>
        <a class="card-text" href="{{source.url}}"><i>Source Website</i></a>
      </div>
    </div>
  </div>
</div>

{%endfor%}
</div>
{%endblock%}