{%extends 'base.html'%}
{%block head%}
{{super()}}

{%endblock%}

{%block content%}
<div class="slider">
  <h1>{{title}}</h1>
  <p>{{subhead}}</p>
</div>
<h4>News Sources:
  <hr>
</h4>
<div class="row sources">

  {%for source in sourceList%}
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{source.name}}</h3>
        <hr>
        <form action="http://127.0.0.1:5000/source-articles" method="POST">
          <input class='hide' type='text' name='id' value="{{source.id}}">
          <a href="/source-articles"><button type='submit' class="btn btn-warning">Read Stories</button></a><span
            class="category"> | Category:
            {{source.category}}</span>

          <div class="card-footer">
        </form>
        <small class="card-title">country :{{source.country}} | language: {{source.language}}</small><br>
        <a class="card-text" href="{{source.url}}"><i>Source Website</i></a>
      </div>
    </div>
  </div>
</div>

{%endfor%}
</div>
{%endblock%}